body{
    padding: 3%;
}

form  { display: table;      }
p     { display: table-row;  }
input { display: table-cell; }


label{
    display: table-cell;
    padding: 3px;
}

.decisionBox{
    padding: 5px;
    margin: 10px 25%;
    height: auto;
    border: 2px solid black;
}

label textarea{
    vertical-align: top;
}

.decisionTextBox {
    padding: 20px;
    margin: 10px 25%;
    height: 10rem;
    border: 2px solid black;
    text-align: center;
}

.decisionText {
    padding: 1rem;
    height: 80%;
    background-color: rgb(245, 245, 245);
}