<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">


<body>
    <div class="navigation">
        <img src="../../assets/vlaanderen-logo-removebg-preview.png" alt="">
        <ul>
            <li class="li-login"><a routerLink="/login" (click)="RefreshSession()">Logout</a></li>
            <li class="li-overview"><a routerLink="/overview">Overview</a></li>
            <li class="li-aanvraag"><a routerLink="/pre-application">Nieuw ereteken aanvragen</a></li>
            <li class="li-usermanagment" *ngIf="GetUserRole() == 'Developer'" ><a routerLink="/user-managment">Gebruikersbeheer</a></li>
        </ul>
    </div>
    <div class="dashboard">
        <router-outlet></router-outlet>
    </div>
</body>