<link rel="stylesheet" href="overview.component.css" />
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,200"
/>
<table border="1">
  <tbody>
    <tr>
      <th>Id</th>
      <th>Status</th>
      <th>Naam</th>
      <th>Datum</th>
      <th>Actie</th>
    </tr>
        <!-- Vanaf hier alles aanmaken met een ngFor*-->
        <tr *ngFor="let application of DB.applications">
            <td>{{application.id}}</td>
            <td>{{application.status}}</td>
            <td>{{application.voornaam! + application.achternaam!}}</td>
            <td>{{application.initiatiefnemer}}</td>
            <td>
                <span class="material-symbols-outlined symbol">edit_note</span>
                <a href=""> Afwerken </a> <br>
                <a *ngIf="application.status == 'wachten op goedkeuring'" [routerLink]="['/review', application.id]"> Bekijken </a>
                <a *ngIf="application.status == 'Advies'" [routerLink]="['/advice', application.id]">Advies geven</a>
                <a *ngIf="application.status == 'Besluit'" [routerLink]="['/decision', application.id]">Besluit geven</a>
            </td>
        </tr>
    </tbody>
</table>

