input {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type=text]:focus {
    background-color: #e9e9e9;
}

form {
    border: solid black 0.1rem;
    width: 65%;
    height: 30rem;
    margin: auto;
    padding: 20px;
    overflow-y: scroll;
}

h1 {
    margin-left: 35%;
    border-bottom: 0.3rem solid black;
    padding-bottom: 10px;
    width: 26rem;
    font-weight: 100;

}

div {
    text-align: center;
    padding-top: 4vh;
    background-color: #e69b1f;
    font-size: 25px;
    height: 3rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-top: 0.1rem solid black;
    font-family: Flanders Art Sans, sans-serif;
}

#sendButton {
    font-weight: 100;
    font-size: 1em;
    width: 15rem;
    height: 3rem;
    margin-left: 16%;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}


.inputsLoopBaan {

    width: 18%;
    background-color: #e9e9e9;
    margin: 7px;
    display: inline-block;
}

label[for="dienst"],
input[name="dienstMaanden"],
input[name="dienstJaren"] {

    display: inline-block;
    width: 20%;
    margin-right: 1rem;
    margin-top: 0.5rem;
}

label[for="dienstJaren"],
label[for="dienstMaanden"] {
    margin-right: 2rem;
}

label[for="dienst"] {
    font-weight: 100;
    font-size: 1em;
    margin-right: 1.5rem;
    border-top: 3px solid black;
    border-bottom: 3px solid black;

    padding: 0.5rem;
}

.hiddenSendButton {
    visibility: hidden;
}

.popup {
    width: 400px;
    background-color: #e9e9e9;
    border-radius: 6px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: #e69b1f;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    font-size: 30px;
    font-weight: 500px;
    margin: 30px 0 10px;
}

.popup button {
    width: 100%;
    margin-top: 10px;
    pad: 0.5em;
    background-color: #474747;
    color: white;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);

}

.popup button:hover {

    background-color: var(--themecolor-secondary);
    outline: none;
}
