<button routerLink="/home" class="button-primary">Back</button>

<h1>Controle</h1>
<table class="main-table">
    <tr class="flex-container">
        <!--first row-->
        <div>
            <table id="personal-details">
                <caption>Persoonlijke gegevens</caption>
                <tr>
                    <td>Voornaam</td>
                    <td>
                        <span id="firstname"> {{applicationToShow.firstname}} </span>
                    </td>
                </tr>
                <tr>
                    <td>Achternaam</td>
                    <td>
                        <span id="lastname"> {{applicationToShow.lastname}} </span>
                    </td>
                </tr>
                <tr>
                    <td>Geboorteplaats</td>
                    <td>
                        <span id="birthplace"> {{applicationToShow.birthplace}} </span>
                    </td>
                </tr>
                <tr>
                    <td>Geboortedatum</td>
                    <td>
                        <span id="birthdate"> {{applicationToShow.birthdate}}</span>
                    </td>
                </tr>
                <tr>
                    <td>Rijksregister nummer</td>
                    <td>
                        <span id="registration"> {{applicationToShow.nationalRegisterNr}} </span>
                    </td>
                </tr>
                <tr>
                    <td>Hoofdberoep</td>
                    <td>
                        <span id="profession"> {{applicationToShow.mainProfession}} </span>
                    </td>
                </tr>
                <tr>
                    <td>Functietitel bij overdracht</td>
                    <td>
                        <span id="function"> {{applicationToShow.jobTitle}} </span>
                    </td>
                </tr>
                <tr>
                    <td>Graad/rang</td>
                    <td>
                        <span id="rank"> {{applicationToShow.gradeOrRank}} </span>
                    </td>
                </tr>
                <tr>
                    <td>Salarisschaal</td>
                    <td>
                        <span id="payscale">{{applicationToShow.salaryScale}}</span>
                    </td>
                </tr>
                <tr>
                    <td>Al ontvangen onderscheidingen</td>
                    <td>
                        <span id="awards"> {{applicationToShow.distinctionsReceived}} </span>
                    </td>
                </tr>
            </table> <br>
            
           
        </div>  
        
        <div>
            <table>
               <caption>Gegevens van de loopbaan</caption>
                <tr>
                    <th>Graad</th>
                    <th>Van</th>
                    <th>Tot en met</th>
                    <th>Prestatiebreuk</th>
                    <th>Aard prestaties</th>
                </tr>
                <tr>
                    <td>
                        <span id="rank-career">{{applicationLoopbaan.grade}}</span>
                    </td>
                    <td>
                        <span id="start-career">{{applicationLoopbaan.fromDate}}</span>
                    </td>
                    <td>
                        <span id="end-career">{{applicationLoopbaan.toDate}}</span>
                    </td>
                    <td>
                        <span id="performancebreach-career">{{applicationLoopbaan.performanceBreach}}</span>
                    </td>
                    <td>
                        <span id="performancenature-career">{{applicationLoopbaan.naturePerformances}}</span>
                    </td>
                </tr>
            </table>
    
            <table>
                <tr>
                    
                    <td>Totaal aantal jaren dienst op 31/12</td>
                    <td>
                        <span id="serviceyears"> {{applicationToShow.totYearService}}</span>
                    </td>
                    <td>jaar</td>
                    <td>
                        <span id="servicemonths"> {{applicationToShow.totMonthService}}</span>
                    </td>
                    <td>maanden</td>
                    
                </tr>
            </table><br>
    
           
        </div>
    </tr>


      <div>
            <table>
                <tr>
                    <td>25/35 jaar dienst op</td>
                    <td>
                        <span id="servicedate"></span>
                    </td>
                </tr>
                <tr>
                    <td>Voorgesteld ereteken</td>
                    <td>
                        <span id="proposed">{{applicationToShow.proposedHonoraryDistinction}}</span>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <caption>Motivatie</caption>
                <tr>
                    <td>
                        Resultaat laatste evaluatie
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="evaluationresult">{{applicationToShow.resultEvaluation}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        Tucht- of strafsanties
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="sanctions"> {{applicationToShow.sanctions}}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        kort verslag over het functioneren van de betrokkene
                    </td>
                </tr>
                <tr>
                    <td>
                        <span id="functionalreport"> {{applicationToShow.reportAboutInvolved}}</span>
                    </td>
                </tr>
    
            </table>
        </div>
    
    <tr>
        <div id="text">Adviezen gemeente: </div>
    </tr>

  <tr class="flex-container">
    <!--second row-->
    <div>
      <table id="proposal">
        <caption>
          Voorstel
        </caption>

        <tr>
          <td>25/35 jaar dienst op</td>
          <td>
            <span id="servicedate"></span>
          </td>
        </tr>
        <tr>
          <td>Voorgesteld ereteken</td>
          <td>
            <span id="proposed">{{applicationToShow.proposedHonoraryDistinction}}</span>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <table>
        <caption>
          Motivatie
        </caption>
        <tr>
          <td>Resultaat laatste evaluatie</td>
        </tr>
        <tr>
          <td>
            <span id="evaluationresult">{{applicationToShow.resultEvaluation}}</span>
          </td>
        </tr>
        <tr>
          <td>Tucht- of strafsanties</td>
        </tr>
        <tr>
          <td>
            <span id="sanctions">{{applicationToShow.sanctions}}</span>
          </td>
        </tr>
        <tr>
          <td>kort verslag over het functioneren van de betrokkene</td>
        </tr>
        <tr>
          <td>
            <span id="functionalreport"></span>
          </td>
        </tr>
      </table>
    </div>
  </tr>

  <tr>
    <div id="text">Adviezen gemeente:</div>
  </tr>

  <tr class="flex-container">
    <!--third row-->
    <div>
      <table>
        <caption>
          Gemeente
        </caption>

        <tr>
          <td>Algemeen directeur of zijn gemachtigde</td>
          <td>
            <span id="director"></span>
          </td>
        </tr>
        <tr>
          <td>burgemeester</td>
          <td>
            <span id="mayor"></span>
          </td>
        </tr>
        <tr>
          <td>Provinciegouverneur</td>
          <td>
            <span id="governor"></span>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <table>
        <caption>
          OCMW
        </caption>

        <tr>
          <td>Voorzitter vast bureau</td>
          <td>
            <span id="chairman-ocmw"></span>
          </td>
        </tr>
        <tr>
          <td>burgemeester</td>
          <td>
            <span id="mayor-ocmw"></span>
          </td>
        </tr>
        <tr>
          <td>Algemeen directeur of zijn gemachtigde</td>
          <td>
            <span id="director-ocmw"></span>
          </td>
        </tr>
        <tr>
          <td>Provinciegouverneur</td>
          <td>
            <span id="governor-ocmw"></span>
          </td>
        </tr>
      </table>
    </div>
  </tr>
  <tr class="flex-container">
    <!--fourth row-->
    <div>
      <table>
        <caption>
          Intercommunales
        </caption>
        
        <tr>
          <td>Voorzitter</td>
          <td>
            <span id="chairman-intercommunales"></span>
          </td>
        </tr>
        <tr>
          <td>burgemeester</td>
          <td>
            <span id="mayor-intercommunales"></span>
          </td>
        </tr>
        <tr>
          <td>Provinciegouverneur</td>
          <td>
            <span id="governor-intercommunales"></span>
          </td>
        </tr>
      </table>
    </div>
    <div>
      <table>
        <caption>
          provincie
        </caption>
        <tr>
          <td>Provinciegriffier</td>
          <td>
            <span id="registrar-province"></span>
          </td>
        </tr>
        <tr>
          <td>Provinciegouverneur</td>
          <td>
            <span id="governor-provence"></span>
          </td>
        </tr>
      </table>
    </div>
  </tr>
  <tr class="flex-container">
    <!--fifth row-->

    <div>
      <table>
        <caption>
          Eredienstinstellingen
        </caption>
        
         <tr>
                    <td>Voorzitter</td>
                    <td>
                        <span id="chairman-institution"></span>
                    </td>
                </tr>
                <tr>
                    <td>Secretaris</td>
                    <td>
                        <span id="secretary-institution"></span>
                    </td>
                </tr>
                <tr>
                    <td>Provinciegouverneur of burgemeester</td>
                    <td>
                        <span id="governor-institution"></span>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <table>
                <caption>Uittreksel strafregister:</caption>
                <tr>
                    <a id="criminal-record" href="localhost:4200/">bekijken</a>
                </tr>
            </table>  
         </div>