<h1>Aanvraag van een ereteken</h1>
<form #applicationForm = "ngForm">

  <div>PERSOONLIJKE GEGEVENS</div>
    <label for="firstname" >Voornaam:</label>
    <input type="text" required name = "firstname" [(ngModel)] = "firstname" placeholder="..." >

    <label for="lastname">Achternaam:</label>
    <input type="text" required name = "lastname" [(ngModel)] = "lastname" placeholder="..." >

    <label for="nationalnr" >Rijksregisternummer:</label>
    <input type="text" required pattern="[0-9]{11}" name = "nationalnr" [(ngModel)] = "nationalnr" placeholder="..."  >
    <label for="birthdate">Geboortedatum:</label>
    <input type="date" required name = "birthdate" [(ngModel)] = "birthdate" placeholder="..." value="2023/11/03">
    <label for="birthplace">Geboorteplaats:</label>
    <input type="text" required name = "birthplace" [(ngModel)] = "birthplace" placeholder="..." >

    <label for="mainProfession">Hoofdberoep:</label>
    <input type="text" required name = "mainProfession" [(ngModel)] = "mainProfession"placeholder="..."  >
    <label for="jobTitle">FunctieTitel:</label>
    <input type="text" required name = "jobTitle" [(ngModel)] = "jobTitle"placeholder="..." >
    <label for="gradeOrRank" min="2" max="4" required >Graad of rang:</label>
    <input type="text" name = "gradeOrRank" [(ngModel)] = "gradeOrRank" placeholder="..." >
    <label for="salaryScale" required >Salarisschaal:</label>
    <input type="text" name = "salaryScale" [(ngModel)] = "salaryScale" placeholder="..." >
    <label for="initiator">Initiatiefnemer:</label>
    <input type="text" required name = "initiator" [(ngModel)] = "initiator"placeholder="..." >
    <label for="distinctionsReceived">Al ontvangen onderscheidingen:</label>
    <input type="text" name = "distinctionsReceived" [(ngModel)] = "distinctionsReceived"placeholder="..." >
    <div>MOTIVATIE</div>

    <label for="resuEvaluation">Resultaat evaluaties</label>
    <input type="text" required name = "resuEvaluation" [(ngModel)] = "resuEvaluation" placeholder="...">
    <label for="sanctions">Tucht- of strafsancties:</label>
    <input type="text" required name = "sanctions" [(ngModel)] = "sanctions" placeholder="...">
    <div>VOORSTEL</div>
    <label for="proposedDistinction">Voorgestelde ereteken:</label>
    <input type="text" required name = "proposedDistinction" [(ngModel)] = "proposedDistinction" placeholder="...">
    <label for="reportInvolved" >Verslag over betrokkene:</label>
    <input type="text" required name = "reportInvolved" [(ngModel)] = "reportInvolved" placeholder="...">

    <div class="career">
    <div>Gegevens van de loopbaan</div>

    <div class="inputsCareer" >

    <label>graad:</label>

      <ng-container *ngFor="let string of grade; let i = index; trackBy: trackByFn">
        <input type="text" [(ngModel)]="grade[i]" name="grade{{i}}">
      </ng-container>
    </div>

    <div class="inputsCareer" >

    <label>van:</label>

      <ng-container *ngFor="let date of from; let i = index; trackBy: trackByFn">
        <input type="date" [value]="from[i] | date:'yyyy-MM-dd'" (input)="from[i]=parseDate(($any($event).target.value))" />
      </ng-container>

    </div>

    <div class="inputsCareer" >

    <label for="tot">tot en met:</label>

      <ng-container *ngFor="let date of to; let i = index; trackBy: trackByFn">
        <input type="date" [value]="to[i] | date:'yyyy-MM-dd'" (input)="to[i]=parseDate(($any($event).target.value))" />
      </ng-container>

    </div>


    <div class="inputsCareer" >

    <label for="performanceBreach">prestatiebreuk %:</label>

      <ng-container *ngFor="let string of performanceBreach; let i = index; trackBy: trackByFn">
        <input type="number" [(ngModel)]="performanceBreach[i]" name="performanceBreach{{i}}">
      </ng-container>

    </div >

    <div class="inputsCareer" >

    <label for="naturePerformances">aard prestaties:  </label>

      <ng-container *ngFor="let string of naturePerformances; let i = index; trackBy: trackByFn">
        <input type="text" [(ngModel)]="naturePerformances[i]" name="naturePerformances{{i}}">
      </ng-container>

    </div>
    </div>
  <label for="service" required >31.12.{{currentPeriod.getFullYear()}} jaar dienst op:</label>
  <input type="number" required name = "serviceYears" [(ngModel)] = "serviceYears"placeholder="..." >
  <label for="serviceYears" >jaar</label>
  <input type="number" required name = "serviceMonths" [(ngModel)] = "serviceMonths"placeholder="..." >
  <label for="serviceMonths" >maanden</label>

</form>

<button (click)='AddAanvraag()' #sendButton [disabled]="applicationForm.invalid" id="sendButton">Verzenden</button>
<div class="container">
<div class="popup" #myPopup>
  <h2>Danku wel!</h2>
  <p>De ereteken werd succesvol aangevraag.</p>
<button type="button" (click)="closePopUp()">Voltooid</button>
</div>
</div>
