body{
  padding: 3%;
}

form  { display: table;      }
p     { display: table-row;  }
input { display: table-cell; }


label{
  display: table-cell;
  padding: 3px;
}

.oorkondeBox{
  padding: 5px;
  margin: 10px 25%;
  height: auto;
  border: 2px solid black;
}

label textarea{
  vertical-align: top;
}
